
:root {
    --primary-color: #E3D7FF;
    --secondary-color: #084887;
    --accent1-color: #F58A07;
    --accent2-color: #F9AB55;

    --header-font: 'auto', serif;
    --paragraph-font: 'auto', sans-serif;

    --nav-background-color: #084887;
    --nav-link-color: #E3D7FF;
    --nav-hover-link-color: #E3D7FF;
    --nav-hover-background-color: #E3D7FF;
}
    



header {
    padding: 20px;
    max-width: 1000px;
    margin: 1rem auto;
    display: flex;
    border-bottom: 1px solid #000;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    font-family: var(--header-font);
    background-color: var(--nav-background-color);
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
    width: 20rem;
}
.grid-item-2{
    display: grid;
    align-items: center;
}
main {
    padding: 2px;
    box-shadow: 0 0 30px gray;
    grid-column: 2/3;
    margin: 1rem;
    display: block;
}
aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

h2{
    text-align: center;

}
header img {
    margin: 0 0.25rem 0;
    width: 64px;
    height: auto;
    
}
.map{
    align-items: center;
}
p {
    font-family: var(--paragraph-font);
    padding: 25px;
    text-align: center;
}

section img {
    width: 150px;
    height: auto;

}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: block;
}

.navigation {
    display: flex;
    list-style: none;
}


nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
    color: var(--nav-hover-link-color-color);
}

article img {
    
    width: 300px;
    height: auto;
    position: relative;
    text-align: center;

}

section{
    padding: 2px;
    grid-column: 2/3;
    margin: 1rem;
    display: block;

}

.flexbox-container{
    height:auto;
    display: flex;
    align-content: space-between;
    flex-direction: column;

}

.flexbox-item-3, .flexbox-item-1, .flexbox-item-2{
    min-height: 300px;
}
h1 {
    position: absolute;
    border-bottom: #000; 
}


article {
    position: absolute;
}

footer {
    text-align: center;
    border-top: 1px solid #000;
    display: grid;
}
footer img {
    display: flex;
    width: 15px;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background-color: #fff;

}


form{
    width: auto;
    margin: 0 auto;
    height: fit-content;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend{
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}
label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label{
    text-align: center;
    padding: 1rem;
}
input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}
button{
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
.form-item {
    display: flex;
    align-items: center;
    min-height: 300px;

}
 .column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
 }
 .column2 {
    grid-template-columns: 1fr 2fr;
 }

