
:root {
    --primary-color: #E3D7FF;
    --secondary-color: #084887;
    --accent1-color: #F58A07;
    --accent2-color: #F9AB55;

    --header-font: 'auto', serif;
    --paragraph-font: 'auto', sans-serif;

    --nav-background-color: #084887;
    --nav-link-color: #E3D7FF;
    --nav-hover-link-color: #E3D7FF;
    --nav-hover-background-color: #E3D7FF;
}
    



head {
    padding: 20px;
    margin: 1rem auto;
    display: block;
    grid-template-columns: 120px 1fr 2fr;
    text-align: center;
    font-family: var(--header-font);
    background-color: var(--nav-background-color);
}


main {
    padding: 2px;
    box-shadow: 0 0 30px gray;
    grid-column: 2/3;
    margin: 1rem;
    display: block;
}


head img {
    margin: 0 0.25rem 0;
    width: 64px;
    height: auto;
    display: grid;
}
p {
    font-family: var(--paragraph-font);
    padding: 25px;
}

section img {
    align-items: center;
    width: 150px;
    height: auto;

}
.hero img{
    display: block;
    width: 45px;
    height: auto;
    align-items: center;
    position: absolute;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: block;
    text-align: right;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
    
}

article img {
    box-shadow: gray;
    width: 100px;
    height: auto;
    position: relative;

}

section title {
    text-align: top center;
}

h1 {
    position: top center;
}

article {
    position: absolute;
}

footer {
    text-align: center;
    border-top: 1px solid #000;
}
footer img {
    display: grid;
    width: 15px;
    height: auto;
    align-items: right;
}