
@import url('https://font.googleapis.com/css2?family=optional-2nd-font-name&display=swap');

:root {
    --primary-color: #E3D7FF;
    --secondary-color: #084887;
    --accent1-color: #F58A07;
    --accent2-color: #F9AB55;

    --header-font: 'auto', serif;
    --paragraph-font: 'auto', sans-serif;

    --nav-background-color: #084887;
    --nav-link-color: #E3D7FF;
    --nav-hover-link-color: #E3D7FF;
    --nav-hover-background-color: #E3D7FF;


}
img {
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: gray;
}

#home-hero{
    margin-top: -69px;
    height: 400px;
}

#home-hero{
    position: relative;
    background: url(image/rafting.four.jpg) no-repeat center center;
    background-size: cover;
}
#home-hero h1{
    font-size: 70px;
    color: #fff;
    text-shadow: 2px 2px 2px #333;
    margin-top: 200px;
}
#home-hero p{
    font-size: 32px;
    color: #fff;
    text-shadow: 2px 2px 2px #333;
    line-height: 1.5; 
}
.no-margin{
    margin: 0;
    padding: 0;
}

.container{
    display: table;
    content: "";

}
main{
    
    padding: 2px;
    box-shadow: 0 0 30px color(gray);
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    line-height: 22px;

}

h1, h2, h3 {
    font-family: var(--paragraph-font);
    color: #084887;
}

h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primay-color);
}


footer {
    text-align: center;
    border-top: 1px solid #000;
    display: grid;
}
footer img {
    display: flex;
    width: 15px;
    height: auto;
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    font-family: var(--paragraph-font);
    padding: 25px;

}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;

}
.feature-wrap{
    margin-bottom: 35px;
    overflow: hidden;
}
.feature-wrap h2 {
    margin-top: 10px;
}
.feature-wrap p {
    line-height: 1.8;
    margin-bottom: 10px;
}
.center{
    text-align: center;
    padding-bottom: 35px;
}
.center h2{
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 35px;
}
nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-link-color);
    background-color: var(--nav-hover-background-color);

}
.navbar{
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 0;
    position: relative;
    min-height: 50px;
}

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
legend{
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}
label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label{
    text-align: center;
    padding: 1rem;
}
input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}
button{
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
.form-item {
    display: grid;
    align-items: center;
}
 .column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
 }
 .column2 {
    grid-template-columns: 1fr 2fr;
 }