
@import url('https://font.googleapis.com/css2?family=optional-2nd-font-name&display=swap');

:root {
    --primary-color: #E3D7FF;
    --secondary-color: #084887;
    --accent1-color: #F58A07;
    --accent2-color: #F9AB55;

    --header-font: 'auto', serif;
    --paragraph-font: 'auto', sans-serif;

    --nav-background-color: #084887;
    --nav-link-color: #E3D7FF;
    --nav-hover-link-color: #E3D7FF;
    --nav-hover-background-color: #E3D7FF;


}
img {
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: gray;
}

#home-hero{
    margin-top: -69px;
    height: 400px;
}

#home-hero{
    position: relative;
    background: url(image/rafting.four.jpg) no-repeat center center;
    background-size: cover;
}
.no-margin{
    margin: 0;
    padding: 0;
}

.container{
    display: table;
    content: "";

}
main{
    
    padding: 2px;
    box-shadow: 0 0 30px color(gray);
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    line-height: 22px;

}

h1, h2, h3 {
    font-family: var(--paragraph-font);
    color: #084887;
}

h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primay-color);
}



header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    font-family: var(--paragraph-font);
    padding: 25px;

}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;

}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-link-color);
    background-color: var(--nav-hover-background-color);

}
.navbar{
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 0;
    position: relative;
    min-height: 50px;
}